body {
  transition: .2s all ease-in;
}

body.dark {
  background: #343a40;
  color: #fff;
}

body.dark hr {
  border-top: 1px solid rgba(0,0,0,.9);
}

body.dark .card {
  background: #343a40;
  border: 1px solid rgba(0,0,0,.875);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}









.wordsList_type_full li span{}

.wordsList__number{
  display: inline-block;
  width: 30px;
}

.wordsList__word{
  display: inline-block;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}


.wordsList_type_plain ul{
  list-style-type: none;
  padding: 0px;
}

.wordsList_type_plain li{
  display: inline;
}

.wordsList_type_plain li::after{
  content: ",";
}

.wordsList_type_plain li:last-child::after{
  content: "";
}